.hero-main {
    max-width: 1100px;
    width: 95%;
    height: calc(100vh - 8em);
    margin: 0 auto;
    display: flex;
    margin-bottom: 3em;
}

.hero {
    flex-direction: column;
    align-items: start;
}

.right {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 5em;
}

.right img {
    width: 400px;
}

.hero__name {
    color: var(--clr-primary);
}

.hero__role {
    margin-top: 0.7em;
    color: var(--clr-fg-alt) !important;
    font-weight: 600 !important;
}

.hero__desc {
    font-size: 1rem;
    max-width: 600px;
}

.hero__desc,
.hero__contact {
    margin-top: 1em;
}

.social {
    margin-top: 0.5em;
    display: flex;
    gap: 0 30px;
    font-weight: 700;
    text-decoration: underline;
}

hero .link--icon {
    margin-top: 1em;
}

hero .btn--outline {
    margin-right: 1em;
}


/* Responsive Style */
@media screen and (max-width: 576px) {
    .hero-main {
        width: 95%;
        margin: 0 auto;
        display: flex;
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .hero {
        align-items: center;
        margin-top: 1em;
    }

    .hero-main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero__role {
        margin-top: 0.3em;
        font-size: 1em;
        margin: 0 auto;
    }

    .hero__desc {
        font-size: 0.8rem;
        max-width: 400px;
        padding: 0 20px;
        margin-bottom: 10px;
    }

    .social {
        margin-top: 0.5em;
        display: flex;
        gap: 0 30px;
        font-weight: 700;
        text-decoration: underline;
        margin: 0 auto;
    }

    .hero__contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-left: 0px;
    }

    .right img {
        width: 200px;
    }
}