.hero-main{
    max-width: 1100px;
    width: 95%;
    height: 100vh-15em;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
}
.hero {

    flex-direction: column;
    align-items: start;
    margin-top: 3em;
}
.right{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 3em;  
    margin-left: 5em;
}

.right img{
    width: 400px;
}

.right img:hover{
    width: 420px;
    padding: 8px;
    border: 5px solid var(--clr-primary);
}

.hero__name {
    color: var(--clr-primary);
}

.hero__role {
    margin-top: 1.2em;
    color:var(--clr-fg-alt) !important ;
    font-weight: 600 !important;
}

.hero__desc {
    font-size: 1rem;
    max-width: 600px;
}

.hero__desc,
.hero__contact {
    margin-top: 2.4em;
}
.social{
    margin-top: 0.5em;
    display: flex;
    gap: 0 30px;
    font-weight: 700;
}

hero .link--icon {
    margin-top: 2.4em;
}

hero .btn--outline {
    margin-right: 1em;
}


@media (max-width: 600px) {
    .app hero {
        align-items: flex-start;
        margin-top: 2em;
    }
}