.hero-main{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    display: flex;
}
.hero {

    flex-direction: column;
    align-items: start;
    margin-top: 3em;
}
.right{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 3em;  
    margin-left: 5em;
}

.right img{
    width: 400px;
}
.hero__name {
    color: var(--clr-primary);
}

.hero__role {
    margin-top: 1.2em;
}

.about__desc {
    font-size: 1rem;
    max-width: 600px;
}

.about__desc,
.about__contact {
    margin-top: 2.4em;
}

hero .link--icon {
    margin-right: 0.8em;
}

hero .btn--outline {
    margin-right: 1em;
}

@media (max-width: 600px) {
    .app hero {
        align-items: flex-start;
        margin-top: 2em;
    }
}