.skills__list {
    max-width: 650px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skills__list-item {
    margin: 0.5em;
  }

  .btn--plain {
    background-color: var(--clr-bg-alt);
    box-shadow: var(--clr-primary) 0px 1px 2px 0px;
    border: 0;
  }

  .btn--plain:hover{
    color:var(--clr-primary) ;
  }
  .section__title{
    color:var(--clr-fg-alt) !important ;
    font-size: 2rem;
    font-weight: 700 !important;
  }
  .section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section_skills{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
/* Responsive Style */
@media screen and (max-width: 576px) {
  .section{
    height: fit-content;
    margin-bottom: 5px;
  }
}