.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__theme {
  margin-top: 0.4em;
}

.close-button {
  display: none;
}

/* Updated styles for mobile view */
@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #f8f8f8;
    color: black;
    padding: 2em;
  }

  .nav__list.open {
    display: flex;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }

  .link--nav {
    color: #333;
    font-weight: bold;
  }

  .nav__hamburger svg {
    color: #333;
  }

  .nav__hamburger.open {
    display: none;
  }
  .nav__list.open .close-button {
    display: block;
  }

  /* Add the close-button class to the close icon */
  .nav__list.open .nav__hamburger svg {
    display: none;
  }

  .nav__list.open .close-button svg {
    display: block;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
  }
}
