.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer p {
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

/* Updated Responsive Style */
@media screen and (max-width: 576px) {

    .footer {
        margin-top: 200px; 
        margin-bottom: 0; 
    }

    .footer p {
        font-size: 10px; 
    }
    
}
