.footer{
    display: flex;
    align-items: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.main_section{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_section p{
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1.5px; 
    margin-top: 10px;
}


/* Responsive Style */
@media screen and (max-width: 576px) {

}
